{% extends 'common.html' %}

{% block head_scripts %}
<script>
    if (!Cookies.get('token')) {
        setMessage('error', 'You need to be logged in to access this page', function () {
            redirect('{{ full_url("/login") }}');
        })
    }
</script>
{% endblock %}


{% block content %}
<section class="page-box addbook">
    <h1>Add a new book</h1>
    <div class="addbook-container-parent">
        <div class="addbook-container">
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-book fa-fw"></i> 
                        <span class="box-description-text">
                            Title
                        </span>
                    </div>
                </div>
                <input id="book-title" placeholder="Write the book title" />
            </div>
            <div id="book-container" class="book-container">
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-pencil-alt fa-fw"></i> 
                        <span class="box-description-text">
                            Authors
                        </span>
                    </div>
                </div>
                <input readonly placeholder="J.K. Rowling, Stephen King, Robert J. Sawyer ..." />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-calendar-times fa-fw"></i> 
                        <span class="box-description-text">
                            Expires
                        </span>
                    </div>
                </div>
                <input type="month"/>
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-camera-retro fa-fw"></i> 
                        <span class="box-description-text">
                            Cover
                        </span>
                    </div>
                </div>
                <input readonly placeholder="Cover URL will appear here" />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-book fa-fw"></i> 
                        <span class="box-description-text">
                            Genre
                        </span>
                    </div>
                </div>             
                <div class="box-complex-input genre-select">
                    <select>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="romance">Romance</option>
                        <option value="science">Science</option>
                        <option value="sci-fy">Sci-fy</option>
                        <option value="cooking">Cooking</option>
                    </select>
                </div>
            </div>
            <button class="icon-button inverted">
                <span class="button-icon">
                    <i class="fas fa-plus-square"></i> 
                </span>
                <span class="button-text">
                    Add book
                </span>     
            </button> 
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ full_url('/public/assets/js/fileselectcustom.js') }}">
</script>
<script>
    var oldValue = '';
    var typingTimer;

    function requestBooks() {
        console.log('Requesting');
        var newValue = $('#book-title').val();
        var token = Cookies.get('token');
        var api_addr = '/book/search?token={0}&query={1}&limit=5'.format(token, newValue);
        if (newValue !== oldValue) {
            time = new Date().getTime();
            $.ajax({
                url: '{{ api_address() }}' + api_addr,
                success: function(response) {
                    if ('status' in response && response['status'] === 'success' && 'response' in response) {
                        $('#book-container').empty();
                        response['response'].forEach(function (element) {
                            $('#book-container').append(
                                ('<div class="book-single">' +
                                '<div class="book-cover"><img src="{2}"/></div>'+
                                '<div class="book-description">' +
                                '<div class="book-title">{0}</div>' +
                                '<div class="book-author">{1}</div>'+
                                '</div></div>').format(
                                    element['title'],
                                    element['author'],
                                    element['small_image_url']
                                )
                            )
                        })
                        
                    }
                },
                error: function() {
                    console.error('Failed!');
                }
            });
        } 
    }

    $(document).ready(function() {
        $('#book-title').on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(requestBooks, 1000);
        });

        $('#book-title').on('keydown', function () {
          clearTimeout(typingTimer);
        });   
    })
</script>
{% endblock %}


            
