<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/common.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/onebooklayout.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/registerstyle.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/addbookstyle.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/lib/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/lib/js-cookie.js') }}" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/assets/js/helpers.js') }}" crossorigin="anonymous"></script>
    <!-- /.Preload CSS and scripts -->

</head>
<body>
    <div class="main-box">
        {% include 'menu.html' %}

        {% set message = flash('message', '') %}
        {% if message %}
            <div class="push-message">{{ message }}</div>
        {% endif %}

        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </div>
    <!-- Scripts go here -->
    {% block scripts %}{% endblock %}
    <script>
        function setMessage(msg) {
            $.ajax({
                url: '{{ full_url("/session") }}' + '?msg={0}'.format(msg),
                success: function (result) {
                    console.log(result);
                },
                error: function () {
                    console.log('Error!');
                }
            })
        }
    </script>
    <!-- /.Scripts go here -->
</body>
</html>