<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/common.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/onebooklayout.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/registerstyle.css') }}">
    <link rel="stylesheet" href="{{ full_url('/public/assets/css/addbookstyle.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/lib/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/lib/js-cookie.js') }}" crossorigin="anonymous"></script>
    <script src="{{ full_url('/public/assets/js/helpers.js') }}" crossorigin="anonymous"></script>
    <!-- /.Preload CSS and scripts -->
    <script>
        function setMessage(name, msg, callback=null) {
            $.ajax({
                url: '{{ full_url("/session") }}' + '?key={0}&msg={1}'.format(name, msg),
                success: function (result) {
                    if (callback) callback();
                },
                error: function () {
                    console.log('Error!');
                    if (callback) callback();
                }
            })
        }

        function setCurrentMessage(name, msg) {
            var element = $('<div/>', {
                'class' : 'push-message {0}'.format(name),
                'text' : msg
            }).click(function() {
                $(this).remove();
            })
            $('#{0}-messages'.format(name)).append(element);
        }

        $(document).ready(function() {
            if (Cookies.get('token')) {
                $('#menu-login').addClass('hidden');
                $('#menu-register').addClass('hidden');
                $('#menu-logout').removeClass('hidden');
            }
        });

    </script>
    {% block head_scripts %}{% endblock %}
</head>
<body>
    <div class="main-box">
        {% include 'menu.html' %}

        <div id="success-messages">
            {% set message = flash('message', '') %}      
        </div>
        <div id="error-messages">
            {% set error = flash('error', '') %}
        </div>

        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </div>
    <!-- Scripts go here -->
    {% block scripts %}{% endblock %}
    <script>
        function logout() {
            if (Cookies.get('token')) {
                Cookies.remove('token');
                Cookies.remove('id');
                setMessage('message', 'Logout successful', reload);
            } else {
                setMessage('error', 'You were not logged in', reload);
            }
            return false;
        }

        $(document).ready(function() {
            {% if message %}
            setCurrentMessage('success', '{{ message }}');
            {% endif %}

            {% if error %}
            setCurrentMessage('error', '{{ error }}');
            {% endif %}
        })

        function requestBook(book_id) {
            var token = Cookies.get('token');
            if (token) {
                $.ajax({
                    url: '{{ api_address() }}' + '/exchange/propose?token={0}&bookid={1}'.format(token, book_id),
                    success : function(response) {
                        console.log(response);
                        if ('status' in response && response['status'] == 'success') {
                            user = response['response'];
                            setCurrentMessage('success', capitalize(response['message']))
                        }
                        else if ('status' in response && response['status'] == 'error') {
                            setCurrentMessage('error', capitalize(response['message']));  
                        } else {
                            setCurrentMessage('error', 'Error fetching BooX API');
                        }
                    },
                    error : function(e) {
                        console.error(e);
                        
                    }
                    
                });
            } else {
                setMessage('error', 'You have to be logged in', function() {
                    redirect('{{ full_url("/") }}');
                })
            }   
        }

        function seeProfile(id) {
            redirect('{{ full_url("/profile") }}' + '?id={0}'.format(id));
        }
    </script>
    <!-- /.Scripts go here -->
</body>
</html>