{% extends 'common.html' %}

{% block content %}

<section class = "exchange-container">
<div class = "exchange-info"> 
    <div class = "bookentry-exchange">
        <div class = "bookentry-cover">
                <img alt="Book cover image" src="https://images.gr-assets.com/books/1474154022l/3.jpg">
        </div>
        <div class="bookentry-info">
                <h2 class="bookentry-title"><span class="pill">title</span>&nbsp;&nbsp;title</h2>
                <h3 class="bookentry-author"><span class="pill">author</span>&nbsp;&nbsp;penizu</h3>
                <h4 class="bookentry-author"><span class="pill">added</span>&nbsp;&nbsp;denizu</h4>
        </div>
    </div>
    <div class = "bookentry-exchange">
        <div class="bookentry-info-right">
                <h2 class="bookentry-title">title&nbsp;&nbsp;<span class="pill">the</span></h2>
                <h3 class="bookentry-author">penizu&nbsp;&nbsp;<span class="pill">author</span></h3>
                <h4 class="bookentry-author">denizu&nbsp;&nbsp;<span class="pill">added</span></h4>
        </div>    

        <div class="bookentry-cover">
                <img alt="Book cover image" src="https://images.gr-assets.com/books/1474154022l/3.jpg">
        </div>
    </div>

</div>
<div class = "button-wrapper">
<div class = "exchange-btn-container">
        <button class="icon-button fb-login">
            <span class="button-icon">
                <i class="far fa-user"></i>
            </span>
            <span class="button-text">
                See profile
            </span>       
        </button>                            
        <button class="icon-button fb-login">
            <span class="button-icon">
                <i class="fab fa-goodreads-g"></i> 
            </span>
            <span class="button-text">
                View on Goodreads
            </span>     
        </button>
</div>
</div>
<div class = "status-info">
    <h2 class="bookentry-title"><span>status: requested</span></h2>
</section>

<section class = "exchange">
<section class="exchange-page">
<section class="bookentry-container"> 
        <div class="bookentry-cover">
            <img alt="Book cover image" src="https://images.gr-assets.com/books/1474154022l/3.jpg">
        </div>
        <div class="bookentry-info">
            <h2 class="bookentry-title"><span class="pill">the</span>&nbsp;&nbsp;title</h2>
            <h3 class="bookentry-author"><span class="pill">author</span>&nbsp;&nbsp;penizu</h3>
            <h4 class="bookentry-author"><span class="pill">added</span>&nbsp;&nbsp;denizu</h4>

            <div class="buttons-container">
                <div class="buttons-wrapper">
                <button class="icon-button fb-login">
                    <span class="button-icon">
                        <i class="far fa-user"></i>
                    </span>
                    <span class="button-text">
                        See profile
                    </span>       
                </button>                            
                <button class="icon-button fb-login">
                    <span class="button-icon">
                        <i class="fab fa-goodreads-g"></i> 
                    </span>
                    <span class="button-text">
                        View on Goodreads
                    </span>     
                </button>
                </div>
            </div>
        </div>
</section>
</section>
<section class="exchange-page">
<section class="bookentry-container"> 
        <div class="bookentry-cover">
            <img alt="Book cover image" src="https://images.gr-assets.com/books/1474154022l/3.jpg">
        </div>
        <div class="bookentry-info">
            <h2 class="bookentry-title"><span class="pill">the</span>&nbsp;&nbsp;title</h2>
            <h3 class="bookentry-author"><span class="pill">author</span>&nbsp;&nbsp;penizu</h3>
            <h4 class="bookentry-author"><span class="pill">added</span>&nbsp;&nbsp;denizu</h4>

            <div class="buttons-container">
                <div class="buttons-wrapper">
                <button class="icon-button fb-login">
                    <span class="button-icon">
                        <i class="far fa-user"></i>
                    </span>
                    <span class="button-text">
                        See profile
                    </span>       
                </button>                            
                <button class="icon-button fb-login">
                    <span class="button-icon">
                        <i class="fab fa-goodreads-g"></i> 
                    </span>
                    <span class="button-text">
                        View on Goodreads
                    </span>     
                </button>
                </div>
            </div>
        </div>
</section>
</section>
</section>
{% endblock %}