{% extends 'common.html' %}

{% block content %}
<section class="page-box">
	<h1> Book exchanges </h1>

	<div id="requests" class="requests">
	</div>
</section>
{% endblock %}

{% block scripts %}
<script>

function getUserID(token)
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/getuserbytoken?token={0}'.format(token);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'success')
				{
					return response['response']['userid'];
				}
					
			},
			async: false
		});
	}
	return null;
}

function getBookInfo(token, id) 
{
	var token = Cookies.get('token');
	if (token)
	{
		var api_addr = '/book?token={0}&id={1}'.format(token, id);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'success') 
				{
					return response['response'];
				}
			},
			async: false
		});
	}
}


function placeRequests()
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/exchange/listoffers?token={0}'.format(token);
		$.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response) {
				if('status' in response && 
				   'response' in response &&
				   response['status'] == 'success')
				{
					var exchanges = response['response'];
					exchanges.forEach(function(request){						
							(async (req) => {
								var exchange_info = {}
								exchange_info['exc_stat'] = req['exchange_status'];
								console.log(exchange_info);
								var book1 = await getBookInfo(token, req['EXCHANGES.BOOKID1']);
								var book2 = await getBookInfo(token, req['EXCHANGES.BOOKID2']);
								var id_resp = await getUserID(token);
								exchange_info['image1'] = book1['response']['cover'];
								exchange_info['title1'] = book1['response']['title'];
								exchange_info['author1'] = book1['response']['author'];
								exchange_info['added1'] = book1['response']['username'];

								if ('response' in book2) {
									exchange_info['image2'] = book2['response']['cover'];
									exchange_info['title2'] = book2['response']['title'];
									exchange_info['author2'] = book2['response']['author'];
									exchange_info['added2'] = book2['response']['username'];
								}
								else {
									exchange_info['image2'] = '{{ full_url("/public/assets/images/question_mark.png") }}';
									exchange_info['title2'] = 'unknown yet';
									exchange_info['author2'] = 'unknown yet';
									exchange_info['added2'] = 'unknown yet';
								}
								exchange_info['id'] = id_resp['response']['userid'];
								bookHTML = getExchangeTemplate(exchange_info, req, exchange_info['id']);
								$('#requests').append(bookHTML);
							})(request);
					});
				}
			},
			async: false
		});
	}
}

function openList(dict) {
  $.ajax({
    url : '{{ api_address() }}' + '/user/books?token={0}&user={1}&exchange_id={2}'.format(Cookies.get('token'), dict['user'], dict['exchange_id']),
    success : function(response) {
      books = response['response'];
      $('#proposal-books-' + dict['exchange_id']).empty();
      books.forEach(function(element, index) {
      	var str = getAcceptTemplate(
      		index, 
      		element, 
      		dict['original_book'],
      		dict['user']
  		);
      	$('#proposal-books-' + dict['exchange_id']).append(str);
      })
    }
  })
}

function acceptBook(book_id, original_book, reciever_id) {
  $.ajax({
    url : '{{ api_address() }}' + '/exchange/match-book?token={0}&receiverid={1}&bookid1={2}&bookid2={3}'.format(
    	Cookies.get('token'), 
    	reciever_id,
    	original_book,
    	book_id
	),
    success : function(response) {
    	if (response['status'] === 'success') {
            setCurrentMessage('success', capitalize(response['message']));      
        }
        else {
            setCurrentMessage('error', 'Accept failed. {0}'.format(capitalize(response['message'])));
        }
    },
    error: function() {
        setCurrentMessage('error', 'Unable to fetch BooX API');
    }
  });
}


function closeExchange(resp_dict)
{
    url_format = '/exchange/finish-exchange?token={0}&ownerid={1}&bookid1={2}&bookid2={3}&accept={4}'. 
    format(resp_dict['token'], resp_dict['ownerid'], resp_dict['bookid1'], resp_dict['bookid2'], resp_dict['accept']);

    $.ajax({
      url: '{{ api_address() }}' + url_format,
      	success: function(response){
	      	if (response['status'] === 'success') {
	            setCurrentMessage('success', capitalize(response['message']));      
	        }
	        else {
	            setCurrentMessage('error', 'Close failed. {0}'.format(capitalize(response['message'])));
	        }
	    },
	    error: function() {
	        setCurrentMessage('error', 'Unable to fetch BooX API');
	    }
    });
}

function declineProposition(resp_dict)
{
    url_format = '/exchange/decline-proposition?token={0}&receiverid={1}&bookid1={2}'. 
    format(resp_dict['token'], resp_dict['receiverid'], resp_dict['bookid1']);
    console.log(url_format);
    $.ajax({
      url: '{{ api_address() }}' + url_format,
      success: function(response){ if (response['status'] === 'success') {
        setCurrentMessage('success', capitalize(response['message']));      
	        }
	        else {
	            setCurrentMessage('error', 'Decline failed. {0}'.format(capitalize(response['message'])));
	        }
	    },
	    error: function() {
	        setCurrentMessage('error', 'Unable to fetch BooX API');
	    }
    });
}

$(document).ready(function() {
	placeRequests();
})

</script>
{% endblock %}