{% extends 'common.html' %}

{% block content %}
<section class="page-box">
	<h1> Book exchanges </h1>

	<div id="requests" class="requests">
	</div>
</section>
{% endblock %}

{% block scripts %}
<script>

function getUserID(token)
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/getuserbytoken?token={0}'.format(token);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'succes')
					return response['response']['userid'];
			}
		});
	}
	return null;
}

function getBookInfo(token, id) 
{
	var token = Cookies.get('token');
	if (token)
	{
		var api_addr = '/book?token={0}&id={1}'.format(token, id);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'succes')
					return response['response'];
			}
		});
	}
}


function placeRequests()
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/exchange/listoffers?token={0}'.format(token);
		$.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response) {
				if('status' in response && 
				   'response' in response &&
				   response['status'] == 'success')
				{
					var exchanges = response['response'];
					exchanges.forEach(function(request){
						exchange_info = {}
						exchange_info['exc_stat'] = request['exchange_status']
						getBookInfo(token, request['EXCHANGES.BOOKID1'])
						.then(function(result) {
							exchange_info['image1'] = result['response']['cover'];
							exchange_info['title1'] = result['response']['title'];
							exchange_info['author1'] = result['response']['author'];
							exchange_info['added1'] = result['response']['author'];

							return getBookInfo(token, request['EXCHANGES.BOOKID2']);
						})
						.then(function(result) {
							console.log(result);
							exchange_info['image2'] = ('cover' in result) ? result['response']['cover'] : '{{ full_url("/public/assets/images/question_mark.png") }}'

							exchange_info['title2'] = ('title' in result) ? result['response']['title'] : 'unknown yet'
							exchange_info['author2'] = ('author' in result) ? result['response']['author'] : 'unknown yet'

							exchange_info['added2'] = ('username' in result) ? result['response']['username'] : 'unknown yet'
							return getUserID(token);
						})
						.then(function(id_resp) {
							exchange_info['id'] = id_resp['response']['userid'];
						})
						.done(function(result) {				
							bookHTML = getExchangeTemplate(exchange_info, request, exchange_info['id']);
							$('#requests').append(bookHTML);
						});
					});
				}
			}
		});
	}
}

function openList(dict) {
  $.ajax({
    url : '{{ api_address() }}' + '/user/books?token={0}&user={1}&exchange_id={2}'.format(Cookies.get('token'), dict['user'], dict['exchange_id']),
    success : function(response) {
      books = response['response'];
      $('#proposal-books-' + dict['exchange_id']).empty();
      books.forEach(function(element, index) {
      	var str = getAcceptTemplate(
      		index, 
      		element, 
      		dict['original_book'],
      		dict['user']
  		);
      	$('#proposal-books-' + dict['exchange_id']).append(str);
      })
    }
  })
}

function acceptBook(book_id, original_book, reciever_id) {
  $.ajax({
    url : '{{ api_address() }}' + '/exchange/match-book?token={0}&receiverid={1}&bookid1={2}&bookid2={3}'.format(
    	Cookies.get('token'), 
    	reciever_id,
    	original_book,
    	book_id
	),
    success : function(response) {
    	if (response['status'] === 'success') {
            setCurrentMessage('success', capitalize(response['message']));      
        }
        else {
            setCurrentMessage('error', 'Edit failed. {0}'.format(capitalize(response['message'])));
        }
    },
    error: function() {
        setCurrentMessage('error', 'Unable to fetch BooX API');
    }
  });
}

$(document).ready(function() {
	placeRequests();
})

</script>
{% endblock %}