{% extends 'common.html' %}

{% block content %}
<section class="page-box">
	<h1> Book exchanges </h1>

	<div id="requests" class="requests">
	</div>
</section>
{% endblock %}

{% block scripts %}
<script>

function getUserID(token)
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/getuserbytoken?token={0}'.format(token);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'succes')
					return response['response']['userid'];
			}
		});
	}
	return null;
}

function getBookInfo(token, id) 
{
	var token = Cookies.get('token');
	if (token)
	{
		var api_addr = '/book?token={0}&id={1}'.format(token, id);
		return $.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response){
				if('status' in response && 
					'response' in response &&
					response['status'] == 'succes')
					return response['response'];
			}
		});
	}
}


function placeRequests()
{
	var token = Cookies.get('token');
	if(token)
	{
		var api_addr = '/exchange/listoffers?token={0}'.format(token);
		$.ajax({
			url: '{{ api_address() }}' + api_addr,
			success: function(response) {
				if('status' in response && 
				   'response' in response &&
				   response['status'] == 'succes')
				{
					exchanges = response['response'];
					status_exchange = response['exchange_status'];

					//userID = getUserID(token, function (userId) {

					//})
					exchanges.forEach(function(request){
						exchange_info = {}
						getBookInfo(token, request['EXCHANGES.BOOKID1'])
						.then(function(result) {
							exchange_info['image1'] = result['response']['cover'];
							exchange_info['title1'] = result['response']['title'];
							exchange_info['author1'] = result['response']['author'];
							exchange_info['added1'] = result['response']['author'];

							return getBookInfo(token, request['EXCHANGES.BOOKID2']);
						})
						.then(function(result) {
							//exchange_info['image2'] = result['response']['cover'] || '';
							//exchange_info['title2'] = result['response']['title'];
							//exchange_info['author2'] = result['response']['author'];
							//exchange_info['added2'] = result['response']['author'];
							return getUserID(token);
						})
						.then(function(id) {
							exchange_info['id'] = id;
						})
						.done(function(result) {
							console.log(exchange_info);
							bookHTML = getExchangeTemplate(exchange_info);
							$('#requests').append(bookHTML);
						})
					});
				}
			}
		});
	}
}

$(document).ready(function() {
	placeRequests();
})

</script>
{% endblock %}