{% extends 'common.html' %}

{% block content %}
<div class="page-box register-page">
    <form onsubmit="return login_request();">
        <div class="register-box">
        <h1 class="head">Login to b00x!</h1>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input id="login" type="text" placeholder="Username/Email">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input id="password" type="password" placeholder="Password">
            </div>
        </div>
        <div class="login-platforms">
            <button class="icon-button fb-login">
                <span class="button-icon">
                    <i class="fab fa-facebook-square"></i> 
                </span>
                <span class="button-text">
                    With Facebook
                </span>       
            </button>
            <button class="icon-button goodreads-login">
                <span class="button-icon">
                    <i class="fab fa-goodreads-g"></i>
                </span> 
                <span class="button-text">
                    With Goodreads
                </span>
            </button>
        </div>
        <button type="submit" class="submit-button slide">&nbsp;</button>               
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    function login_request() {
        var username = $('#login').val();
        var password = $('#password').val();
        var url_format = '/login?username={0}&password={1}'.format(username, password);
        $.ajax({
            url: '{{ api_address() }}' + url_format,
            success: function (response) {
                if ('response' in response && 'token' in response['response']) {
                    Cookies.set('token', response['response']['token'], { expires: 3 });
                    setMessage('You have successfully logged in');
                    window.location.href = '{{ full_url("/") }}';
                }
                else {
                    setMessage('login failed');
                    window.location.href = '{{ full_url("/login") }}';
                }
            },
            error: function() {
                console.error('Error!');
            }
        });
        return false;
    }
</script>
{% endblock %}