{% extends "common.html" %}

{% block content %}
<section class="page-box main-page">
    <h1 class="main-page-header">This is us</h1>
    <div class="statistics-container">
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="users" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="connections" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Connections</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="locations" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Locations</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="books" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Books</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="authors" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Authors</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span id="nearby" class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Nearby</span>
        </div>
    </div>
</section>
{% endblock %}
    
{% block scripts %}    
<script>
    function create_interval(element, number) {
        var current = 0;    
        var intervalID = setInterval(function() {
            element.innerHTML = current.toString();
            current += 10;
            if (current >= number) {
                element.innerHTML = Math.min(current, number);
                clearInterval(intervalID);
            }
        }, 50);
    }

    $(document).ready(function() {
        $.ajax({
            url: 'http://192.168.1.102:81/report/info',
            success : function(response) {
                var attributes = ['users', 'connections', 'locations', 'books', 'authors', 'nearby'];
                attributes.forEach(function (element) {
                    if ('response' in response && element in response['response']) {
                        create_interval($('#' + element).get(0), parseInt(response['response'][element]));
                    }
                });       
            },
            error : function(e) {
                console.error(e);
            }
            
        });
    });
</script>

{% endblock %}
