<header class="menu container">
    <div class="menu-item menu-button block">
        <a class="centered" href="#">books</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="viewprofile.html">profile</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="personalized_search.html">search</a>
    </div>
    <div class="menu-item menu-logo block">
        <a class="centered" href="main.html">
            <!--
            <img src="../Assets/Images/faiths-speak-on-referendums-17.png"/>
        -->
            B00X
        </a>
    </div>
    <div class="menu-item right-aligned menu-button block">
        <a class="centered" href="registerpage.html">register</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="loginpage.html">login</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="addbook.html">add book</a>
    </div>
</header>
