<header class="menu container">
    <div class="menu-item menu-button block">
        <a class="centered" href="{{ full_url('/profile') }}">profile</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="{{ full_url('/search') }}">search</a>
    </div>
    <div class="menu-item menu-logo block">
        <a class="centered" href="{{ full_url('/') }}">
            <!--
            <img src="../Assets/Images/faiths-speak-on-referendums-17.png"/>
        -->
            B00X
        </a>
    </div>
    <div id="menu-logout" class="menu-item right-aligned menu-button block hidden">
        <a onclick="return logout();" class="centered" href="javascript:void(0);">logout</a>
    </div>
    <div id="menu-register" class="menu-item right-aligned menu-button block">
        <a class="centered" href="{{ full_url('/register') }}">register</a>
    </div>
    <div id="menu-login" class="menu-item menu-button block">
        <a class="centered" href="{{ full_url('/login') }}">login</a>
    </div>
    <div class="menu-item menu-button block">
        <a class="centered" href="{{ full_url('/add') }}">add book</a>
    </div>
</header>
