{% extends 'common.html' %}

{% block content %}
{% for i in range(3) %}
<section class="bookentrybar-container-parent" data-bentryid="grow{{ i }}" data-bentryclass=".book{{ i }}" onclick="growDiv(this)"> 
    <div class="bookentrybar-container">
        <div class="barbooktitle"> 
            <h2>HTML and CSS: Design and Build Websites</h2>
        </div>
        <div class="barauthor"> 
            <h2>Jon Duckett</h2>
        </div>
        <div class="baruser">
            <h2>stickyfingers123</h2>
        </div>
        <div class="bargenre">
            <h2>Design</h2>
        </div>
    </div>
    <div class="bookentry-container-parent" id="grow{{ i }}">
        <div class="bookentry-container book{{ i }}">
            <div class="imagediv">
                <img alt="Book cover image" src="../Assets/Images/book1_cover.jpg">
            </div>
            <div class="bookentryinfo">
                <div class="bookentrytext">
                    <h2>HTML and CSS: Design and Build Websites </h2>
                    <h3>by Jon Duckett</h3>
                    <h3>Uploaded by: stickyfingers123</h3>
                    <p> Description: This book teaches you about HTML and CSS. Nifty, right?
                    </p>
                </div>
                <div class="buttons-container">
                    <button class="icon-button fb-login">
                        <span class="button-icon">
                            <i class="far fa-user"></i>
                        </span>
                        <span class="button-text">
                            See profile
                        </span>       
                    </button>                            
                    <button class="icon-button fb-login">
                        <span class="button-icon">
                            <i class="fab fa-goodreads-g"></i> 
                        </span>
                        <span class="button-text">
                            View on Goodreads
                        </span>     
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}    
{% endblock %}