{% extends 'common.html' %}

{% block content %}
<section class="page-box personalized-search">
    <div class="search-bar">
        <form>
            <div class="search-bar-wrapper">
                <input id="search-bar-input" name="search-bar" placeholder="enter keywords" />
                <button type="submit" id="search-bar-submit">
                    <i class="fas fa-search"></i>
                </button>
                <button type="button" id="search-bar-more">
                    <i class="fas fa-chevron-circle-down"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="advanced-search">
        <form>
            <div id="advanced-search-wrapper" class="advanced-search-wrapper search-hidden">
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-pencil-alt fa-fw"></i>
                            <span class="box-description-text">
                                Authors
                            </span>
                        </div>
                    </div>
                    <input type="text" placeholder="J.K. Rowling, Stephen King ..." />
                    <button type="button" class="button-add">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </div>
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-book fa-fw"></i>
                            <span class="box-description-text">
                                Genres
                            </span>
                        </div>
                    </div>
                    <input type="text" placeholder="Fantasy, SciFi, Drama ..." />
                    <button type="button" class="button-add">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </div>
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-calendar fa-fw"></i>
                            <span class="box-description-text">
                                Before
                            </span>
                        </div>
                    </div>
                    <input type="month"/>
                    <button type="button" class="button-add">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </div>
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-calendar fa-fw"></i>
                            <span class="box-description-text">
                                After
                            </span>
                        </div>
                    </div>
                    <input type="month"/>
                    <button type="button" class="button-add">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </div>
                <div class="location-box">
                    <div class="checkbox">
                        <input id="select-1" type="checkbox">
                        <label for="select-1">Nearby</label>
                    </div>
                    <div class="labeled-input-box location">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-location-arrow fa-fw"></i>
                            <span class="box-description-text">
                                Location
                            </span>
                        </div>
                    </div>
                        <input placeholder="London, Big Ben Tower" />
                        <button type="button" class="button-add">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="search-results">
        <h1>Recommended For You</h1>
        <hr/>      
        {% include 'onebooklayout.html' %} 
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="Assets/JavaScript/personalized_search.js"></script>
<script src="Assets/JavaScript/booktemplate.js"></script>
{% endblock %}