{% extends 'common.html' %}

{% block content %}
<section class="page-box register-page">
    <form onsubmit="return register();">
        <div class="register-box">
            <h1 class="head">Join b00x!</h1>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                     <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    <input id="username" type="text" placeholder="Username">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <input id="firstName" type="text" placeholder="First Name">
                </div>
            </div>  
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <input id="lastName" type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                    <input id="email" type="email" placeholder="Email">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </span>
                    <input id="password" type="password" placeholder="Password">
                </div>
            </div>  
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </span>
                    <input id="confirmPassword" type="password" placeholder="Confirm password">
                </div>
            </div>
            <button type="submit" class="submit-button slide">&nbsp;</button>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    function register() {
        var username = $('#username').val();
        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var email = $('#email').val();
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();
        var url_format = '/register?username={0}&password={1}&cpassword={2}&fname={3}&lname={4}&email={5}'.format(
            username, password, confirmPassword, firstName, lastName, email
        );
        $.ajax({
            url: '{{ api_address() }}' + url_format,
            success: function (response) {
                if (response['status'] === 'success') {
                    setMessage(
                        'message', capitalize(response['message']),
                        function () { redirect('{{ full_url("/") }}'); }
                    );      
                }
                else {
                    setMessage(
                        'error', 'Register failed. {0}'.format(capitalize(response['message'])),
                        function () { redirect('{{ full_url("/") }}'); }
                    );
                }
            },
            error: function() {
                setMessage(
                    'error', 'Unable to fetch BooX API',
                    function () { redirect('{{ full_url("/") }}'); }
                );
            }
        });
        return false;
    }
</script>
{% endblock %}