<section class="page-box view-profile">
    <div class="profile-wrapper">
        <img alt="User profile picture" src="../Assets/Images/blank-profile-picture.png" class="profile-image"/>
        <div class="profile-description">
            <div class="named-label">
                <div class="named-label-name">
                    <i class="fas fa-user-circle fa-fw"></i> <span class="named-label-text">Username</span>
                </div>
                <div class="named-label-content">
                    stickyfingers1231231312312
                </div>
            </div>
            <div class="named-label">
                <div class="named-label-name">
                    <i class="fas fa-envelope fa-fw"></i> <span class="named-label-text">Email</span>
                </div>
                <div class="named-label-content">
                    stickyfingers123@gmail.com
                </div>
            </div>
            <div class="named-label">
                <div class="named-label-name">
                    <i class="fas fa-tag fa-fw"></i> <span class="named-label-text">Name</span>
                </div>
                <div class="named-label-content">
                    John Cena
                </div>
            </div>   
            <div class="named-label">
                <div class="named-label-name">
                    <i class="fas fa-book fa-fw"></i> <span class="named-label-text">Posted books</span>
                </div>
                <div class="named-label-content">
                    5
                </div>
            </div>
            <div class="profile-button-container">
                <button class="icon-button inverted">
                    <span class="button-icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="button-text">
                        Send message
                    </span>       
                </button>  
                <button class="icon-button inverted">
                    <span class="button-icon">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="button-text">
                        Edit profile
                    </span>       
                </button>  
            </div>
        </div>
    </div>
    <div class="profile-books">
        <h1>User's books</h1>
        <hr/>
        {% include 'onebooklayout.html' %}
    </div>
</section>
<script src="Assets/JavaScript/booktemplate.js"></script>
