
<section class="page-box addbook">
    <h1>Add a new book</h1>
    <div class="addbook-container-parent">
        <div class="addbook-container">
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-book fa-fw"></i> 
                        <span class="box-description-text">
                            Title
                        </span>
                    </div>
                </div>
                <input placeholder="Flashforward, How i solved P != NP, How to cook with no ingredients ..." />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-pencil-alt fa-fw"></i> 
                        <span class="box-description-text">
                            Authors
                        </span>
                    </div>
                </div>
                <input placeholder="J.K. Rowling, Stephen King, Robert J. Sawyer ..." />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-calendar-times fa-fw"></i> 
                        <span class="box-description-text">
                            Expires
                        </span>
                    </div>
                </div>
                <input type="month"/>
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                    <i class="fas fa-camera-retro fa-fw"></i> 
                    <span class="box-description-text">
                        Cover
                    </span>
                </div>
                </div>
                <div class="box-complex-input">
                    <div class="cover-choose">
                        <div class="btn-choose">
                            <input type="file" class="file-input" data-box="cover-choose" name="cover-choose-file">
                        </div>
                        <div class="cover-choose-label">Select a cover image</div>
                    </div>
                </div>
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-book fa-fw"></i> 
                        <span class="box-description-text">
                            Genre
                        </span>
                    </div>
                </div>             
                <div class="box-complex-input genre-select">
                    <select>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="romance">Romance</option>
                        <option value="science">Science</option>
                        <option value="sci-fy">Sci-fy</option>
                        <option value="cooking">Cooking</option>
                    </select>
                </div>
            </div>
            <button class="icon-button inverted">
                <div>
                    <div class="button-icon">
                        <i class="fas fa-plus-square"></i> 
                    </div>
                    <div class="button-text">
                        Add book
                    </div>     
                </div>   
            </button> 
        </div>
    </div>
</section>
<script src="Assets/JavaScript/fileselectcustom.js">
</script>


            
