
<div class="page-box addbook">
    <div class="addbook-container-parent">
        <div class="addbook-container">
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-book"></i> 
                        <span class="named-label-text">Title</span>
                    </div>
                </div>
                <input placeholder="Flashforward, How i solved P != NP, How to cook with no ingredients ..." />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-pencil-alt"></i> 
                        <span class="named-label-text">Authors</span>
                    </div>
                </div>
                <input placeholder="J.K. Rowling, Stephen King, Robert J. Sawyer ..." />
            </div>
            <div class="labeled-input-box">
                <div class="box-description">
                    <div class="box-description-name">
                        <i class="fas fa-calendar-times"></i> 
                        <span class="named-label-text">Expires</span>
                    </div>
                </div>
                <input alt="Latest date of publishing" type="month" placeholder="" />
            </div>
            <div class=".addbook-addimage">
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                        <i class="fas fa-camera-retro"></i> 
                        <span class="named-label-text">Cover</span>
                    </div>
                    </div>
                    <div class="fileChoose1">
                        <div class="btn-choose">
                            <input type="file" class="file-input" data-box="fileChoose1" name="fileChoose1-file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="addbook-genre-selection">
                <div class="labeled-input-box">
                    <div class="box-description">
                        <div class="box-description-name">
                            <i class="fas fa-book"></i> 
                            <span class="named-label-text">Genre</span>
                        </div>
                    </div>
                </div>
                <div class="genre-select">
                    <select>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="romance">Romance</option>
                        <option value="science">Science</option>
                        <option value="sci-fy">Sci-fy</option>
                        <option value="cooking">Cooking</option>
                    </select>
                </div>
            </div>
            <button class="icon-button fb-login inverted">
                <div>
                    <div class="button-icon">
                        <i class="fas fa-plus-square"></i> 
                    </div>
                    <div class="button-text">
                        Add book
                    </div>     
                </div>   
            </button> 
        </div>
    </div>
</div>


            
