<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/common.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <!-- /.Preload CSS and scripts -->

</head>
<body>
    <div class="main-box container">
        <header class="menu container">
            <div class="menu-item menu-button block">
                <a class="centered" href="#">books</a>
            </div>
            <div class="menu-item menu-button block">
                <a class="centered" href="#">profile</a>
            </div>
            <div class="menu-item input-box block">
                <div class="centered">
                    <input id="search-input" placeholder="quick search" />
                    <i id="search-icon" ></i>
                </div>
            </div>
            <div class="menu-item menu-logo block">
                <a class="centered" href="#">
                    <!--
                    <img src="../Assets/Images/faiths-speak-on-referendums-17.png"/>
                -->
                    B00X
                </a>
            </div>
            <div class="menu-item right-aligned menu-button block">
                <a class="centered" href="#">register</a>
            </div>
            <div class="menu-item menu-button block">
                <a class="centered" href="#">login</a>
            </div>
        </header>
        <div class="main-page">
            <h1 class="main-page-header">This is us</h1>
            <div class="statistics-container">
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Users</span>
                </div>
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Connections</span>
                </div>
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Locations</span>
                </div>
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Books</span>
                </div>
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Nearby</span>
                </div>
                <div class="stat-item">
                    <div class="stat-item-data">
                        <div class="loader"></div>
                        <div class="number">
                            <span class="number-text">0</span>
                        </div>
                    </div>  
                    <span class="stat-name">Online</span>
                </div>
            </div>
        </div>
    
        <footer class="main-footer">
            <div class="footer-logo block">B00X</div>
            <div class="footer-subscribe block">
                <div class="centered">Subscribe to our news feed</div> 
            </div>
            <form class="footer-input block">
                <input class="centered" placeholder="enter email" type="email" />
            </form>
        </footer>
    </div>
    <!-- Scripts go here -->
    <script>
        function func() {
            document.getElementById("search-input").classList.toggle("hidden");
        }
        document.getElementById("search-icon").onclick = func;
        function create_interval(element) {
            var current = 0;
            var number = Math.floor(Math.random() * 500);
            var intervalID = setInterval(function() {
                element.innerHTML = current.toString();
                current += 10;
                if (current >= number) {
                    element.innerHTML = Math.min(current, number);
                    clearInterval(intervalID);
                }
            }, 50);
        }
        function assign_random() {
            var arr = document.getElementsByClassName("number-text");
            for (var i = 0; i < arr.length; i++) {
                create_interval(arr[i]);
            }

        }
        assign_random();
    </script>
    <!-- /.Scripts go here -->
</body>
</html>