<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <!-- /.Preload CSS and scripts -->

</head>
<body>
    <div class="main-box container">
        <header class="menu container">
            <div class="menu-item">
                <a href="#">books</a>
            </div>
            <div class="menu-item">
                <a href="#">profile</a>
            </div>
            <div class="menu-item input-box">
                <input id="search-input" class="hidden" placeholder="quick search" />
                <i id="search-icon" ></i>
                
            </div>
            <div class="menu-item logo-image">
                <a href="#">
                    <img src="../Assets/Images/faiths-speak-on-referendums-17.png"/>
                </a>
            </div>
            <div class="menu-item right-aligned">
                <a href="#">register</a>
            </div>
            <div class="menu-item">
                <a href="#">login</a>
            </div>
        </header>
    </div>
    <h1 class="main-page-header">This is us</h1>
    <div class="statistics-container">
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        
    </div>
    <!-- Scripts go here -->
    <script>
        function func() {
            document.getElementById("search-input").classList.toggle("hidden");
        }
        document.getElementById("search-icon").onclick = func;
        function create_interval(element) {
            var current = 0;
            var number = Math.floor(Math.random() * 500);
            var intervalID = setInterval(function() {
                element.innerHTML = current.toString();
                current += 10;
                if (current >= number) {
                    element.innerHTML = Math.min(current, number);
                    clearInterval(intervalID);
                }
            }, 50);
        }
        function assign_random() {
            var arr = document.getElementsByClassName("number-text");
            for (var i = 0; i < arr.length; i++) {
                create_interval(arr[i]);
            }

        }
        assign_random();
    </script>
    <!-- /.Scripts go here -->
</body>
</html>