
<div class="page-box register-page">
    <div class="register-box">
        <h1 class="head">Login to b00x!</h1>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input type="text" placeholder="Username/Email">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="login-platforms">
            <button class="icon-button fb-login">
                <div>
                    <div class="button-icon">
                        <i class="fab fa-facebook-square"></i> 
                    </div>
                    <div class="button-text">
                        With Facebook
                    </div>     
                </div>   
            </button>
            <button class="icon-button goodreads-login">
                <div>
                    <div class="button-icon">
                        <i class="fab fa-goodreads-g"></i>
                    </div> 
                    <div class="button-text">
                        With Goodreads
                    </div>
                </div>
            </button>
        </div>
        <button class="submit-button slide left">&nbsp;</button>               
    </div>
</div>