
<section class="page-box main-page">
    <h1 class="main-page-header">This is us</h1>
    <div class="statistics-container">
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Users</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Connections</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Locations</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Books</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Nearby</span>
        </div>
        <div class="stat-item">
            <div class="stat-item-data">
                <div class="loader"></div>
                <div class="number">
                    <span class="number-text">0</span>
                </div>
            </div>  
            <span class="stat-name">Online</span>
        </div>
    </div>
</section>
    
<script>
    function create_interval(element) {
        var current = 0;
        var number = Math.floor(Math.random() * 500);
        var intervalID = setInterval(function() {
            element.innerHTML = current.toString();
            current += 10;
            if (current >= number) {
                element.innerHTML = Math.min(current, number);
                clearInterval(intervalID);
            }
        }, 50);
    }
    function assign_random() {
        var arr = document.getElementsByClassName("number-text");
        for (var i = 0; i < arr.length; i++) {
            create_interval(arr[i]);
        }

    }
    assign_random();
</script>
