<section class="bookentrybar-container-parent" bentryid="grow1" bentryclass=".book1" onclick="growDiv(this)"> 
    <div class="bookentrybar-container">
        <div class="barbooktitle"> 
            <h1>HTML and CSS: Design and Build Websites</h1>
        </div>
        <div class="barauthor"> 
            <h1>Jon Duckett</h1>
        </div>
        <div class="baruser">
            <h1>stickyfingers123</h1>
        </div>
        <div class="bargenre">
            <h1>Design</h1>
        </div>
    </div>
    <div class="bookentry-container-parent" id="grow1">
        <div class="bookentry-container book1">
            <div class="imagediv">
                <img src="../Assets/Images/book1_cover.jpg">
            </div>
            <div class="bookentryinfo">
                <div class="bookentrytext">
                    <h1>HTML and CSS: Design and Build Websites </h1>
                    <h2>by Jon Duckett</h2>
                    <h3>Uploaded by: stickyfingers123</h3>
                    <p> Description: This book teaches you about HTML and CSS. Nifty, right?
                    </p>
                </div>
                <div class="buttons-container">
                    <button class="icon-button fb-login">
                        <div>
                            <div class="button-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="button-text">
                                See profile
                            </div>     
                        </div>   
                    </button>                            
                    <button class="icon-button fb-login">
                        <div>
                            <div class="button-icon">
                                <i class="fab fa-goodreads-g"></i> 
                            </div>
                            <div class="button-text">
                                View on Goodreads
                            </div>     
                        </div>   
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
    

<section class="bookentrybar-container-parent" bentryid="grow2" bentryclass=".book2" onclick="growDiv(this)"> 
    <div class="bookentrybar-container">
        <div class="barbooktitle"> 
            <h1> HTML and CSS: Design and Build Websites </h1>
        </div>
        <div class="barauthor"> 
            <h1> Jon Duckett </h1>
        </div>
        <div class="baruser">
            <h1> stickyfingers123 </h1>
        </div>
        <div class="bargenre">
            <h1> Design </h1>
        </div>
    </div>
    <div class="bookentry-container-parent" id="grow2">
        <div class="bookentry-container book2">
            <div class="imagediv">
                <img src="../Assets/Images/book1_cover.jpg">
            </div>
            <div class="bookentryinfo">
                <div class="bookentrytext">
                    <h1>HTML and CSS: Design and Build Websites </h1>
                    <h2>by Jon Duckett</h2>
                    <h3>Uploaded by: stickyfingers123</h3>
                    <p> Description: This book teaches you about HTML and CSS. Nifty, right?
                    </p>
                </div>
                <div class="buttons-container">
                    <button class="icon-button fb-login">
                        <div>
                            <div class="button-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="button-text">
                                See profile
                            </div>     
                        </div>   
                    </button>                            
                    <button class="icon-button fb-login">
                        <div>
                            <div class="button-icon">
                                <i class="fab fa-goodreads-g"></i> 
                            </div>
                            <div class="button-text">
                                View on Goodreads
                            </div>     
                        </div>   
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>