<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/common.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/onebooklayout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!-- /.Preload CSS and scripts -->

</head>
<body>
    <div class="main-box">
        <div class="page-box">
            <div class="bookentrybar-container-parent" bentryid="grow1" bentryclass=".book1" onclick="growDiv(this)"> 
                <div class="bookentrybar-container">
                    <div class="barbooktitle"> 
                        <h1> HTML and CSS: Design and Build Websites </h1>
                    </div>
                    <div class="barauthor"> 
                        <h1> Jon Duckett </h1>
                    </div>
                    <div class="baruser">
                        <h1> stickyfingers123 </h1>
                    </div>
                    <div class="bargenre">
                        <h1> Design </h1>
                    </div>
                </div>
            </div>
            <div class="bookentry-container-parent" id="grow1">
                <div class="bookentry-container book1">
                    <div class="imagediv">
                        <img src="../Assets/Images/book1_cover.jpg">
                    </div>
                    <div class="bookentryinfo">
                        <div class="bookentrytext">
                            <h1>HTML and CSS: Design and Build Websites </h1>
                            <h2>by Jon Duckett</h2>
                            <h3>Uploaded by: stickyfingers123</h3>
                            <p> Description: This book teaches you about HTML and CSS. Nifty, right?
                            </p>
                        </div>
                        <div class="buttons-container">
                            <button class="icon-button fb-login">
                                <div>
                                    <div class="button-icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                    <div class="button-text">
                                        See profile
                                    </div>     
                                </div>   
                            </button>                            
                            <button class="icon-button fb-login">
                                <div>
                                    <div class="button-icon">
                                        <i class="fab fa-goodreads-g"></i> 
                                    </div>
                                    <div class="button-text">
                                        View on Goodreads
                                    </div>     
                                </div>   
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bookentrybar-container-parent" bentryid="grow2" bentryclass=".book2" onclick="growDiv(this)"> 
                <div class="bookentrybar-container">
                    <div class="barbooktitle"> 
                        <h1> HTML and CSS: Design and Build Websites </h1>
                    </div>
                    <div class="barauthor"> 
                        <h1> Jon Duckett </h1>
                    </div>
                    <div class="baruser">
                        <h1> stickyfingers123 </h1>
                    </div>
                    <div class="bargenre">
                        <h1> Design </h1>
                    </div>
                </div>
            </div>
            <div class="bookentry-container-parent" id="grow2">
                <div class="bookentry-container book2">
                    <div class="imagediv">
                        <img src="../Assets/Images/book1_cover.jpg">
                    </div>
                    <div class="bookentryinfo">
                        <div class="bookentrytext">
                            <h1>HTML and CSS: Design and Build Websites </h1>
                            <h2>by Jon Duckett</h2>
                            <h3>Uploaded by: stickyfingers123</h3>
                            <p> Description: This book teaches you about HTML and CSS. Nifty, right?
                            </p>
                        </div>
                        <div class="buttons-container">
                            <button class="icon-button fb-login">
                                <div>
                                    <div class="button-icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                    <div class="button-text">
                                        See profile
                                    </div>     
                                </div>   
                            </button>                            
                            <button class="icon-button fb-login">
                                <div>
                                    <div class="button-icon">
                                        <i class="fab fa-goodreads-g"></i> 
                                    </div>
                                    <div class="button-text">
                                        View on Goodreads
                                    </div>     
                                </div>   
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

<script>
    function growDiv(elem) 
    {
        var growDiv = document.getElementById(elem.getAttribute("bentryid"));
        if (growDiv.clientHeight) 
        {
            growDiv.style.height = 0;
        }
        else 
        {
            var wrapper = document.querySelector(elem.getAttribute("bentryclass"));
            growDiv.style.height = wrapper.clientHeight + "px";
        }
    }
</script>

</html>