<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/common.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <!-- /.Preload CSS and scripts -->
</head>
<body>
    <div class="personalized-search container">
        <div class="search-form-wrapper">
            <form class="search-form">
                <div class="search-bar">
                    <input id="search-bar-input" name="search-bar" placeholder="enter keywords" />
                    <button id="search-bar-submit" type="submit"/>
                        <i class="fas fa-search"></i>
                    </button>
                    <button id="search-bar-more"/>
                        <i class="fas fa-chevron-circle-down"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>