<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/common.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <!-- /.Preload CSS and scripts -->
</head>
<body>
    
</body>
</html>