
<div class="page-box register-page">
    <div class="register-box">
        <h1 class="head">Join b00x!</h1>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                 <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input type="text" placeholder="Username" class="uname">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input type="text" placeholder="First Name" class="fname">
            </div>
        </div>  
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input type="text" placeholder="Last Name" class="lname">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="email" placeholder="Email" class="email">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input type="password" placeholder="Password" class="passwd">
            </div>
        </div>  
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input type="password" placeholder="Confirm password" class="passwd">
            </div>
        </div>
        <button class="submit-button slide">&nbsp;</button>
    </div>
</div>