<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="TODO"/>
    <meta name="keywords" content="TODO"/>
    <meta name="author" content="VSK DRS" />
    <meta name="copyright" content="Copyright VSK DRS" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Preload CSS and scripts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/Stylesheets/normalize.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/common.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/style.css">
    <link rel="stylesheet" href="../Assets/Stylesheets/onebooklayout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!-- /.Preload CSS and scripts -->
</head>
<body>
    <div class="main-box">
        <div class="page-box view-profile">
            <div class="profile-wrapper">
                    <img src="../Assets/Images/blank-profile-picture.png" class="profile-image"/>
                <div class="profile-description">
                    <div class="named-label">
                        <div class="named-label-name">
                            Username
                        </div>
                        <div class="named-label-content">
                            stickyfingers123
                        </div>
                    </div>
                    <div class="named-label">
                        <div class="named-label-name">
                            Email
                        </div>
                        <div class="named-label-content">
                            stickyfingers123@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>