* {
    box-sizing: border-box;
}

.register-page {
  background-image: url("../images/background_register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
}

.register-page form {
  width: 100%;
}

.register-page .register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
	background: rgba(25, 118, 210, 0.7);
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  box-shadow: 0 0 30px #ccc;
  padding: 30px 20px 20px 20px;
}

.register-page .register-box .head {
  color: #FFFFFF;
  text-transform: uppercase;
}

.register-page .register-box .input-wrapper {
	position: relative;
	width: 100%;
}

.register-page .register-box .input-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.register-page .register-box .inpicon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}

.register-page .register-box input {
	outline: none;
	font-size: 1.1em;
	color: black;
	padding: 10px 34px;
	border: none;
	border-radius: 2px;
	width: 100%;
}


.register-page .register-box .submit-button {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 20px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  border: 2px white solid;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.register-page .register-box .slide:after{
  content:"Sign up";
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  text-align:center;
  -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.register-page .register-box .slide:before {
  content:"Do it!";
  position:absolute;
  height:100%;
  width:100%;
  color: white;
  left:-100%;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}


.register-page .register-box .slide:hover:before{
  left:0;
  opacity:1;
  color:#FFFFFF;
}

.register-page .register-box .slide:hover:after{
  left:100%;
  opacity:0;
}

.register-page .register-box .slide:before {
  left:100%;
  color: white;
  -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.register-page .login-platforms {
  display: flex;
  width: 100%;
  margin-top: 10px;
}


.register-page .login-platforms .fb-login {
  margin-right: 10px;
}

.register-page .login-platforms .goodreads-login {
  margin-left: 10px;
}


@media (max-width: 768px) 
{ 
  .register-page .register-box { 
    width: 80%;
  } 

  .register-page .login-platforms {
    flex-direction: column;
    margin-top: unset;
  }

  .register-page .login-platforms .fb-login,
  .register-page .login-platforms .goodreads-login {
    margin: unset;
    margin-top: 15px;
  }
}