* {
    box-sizing: border-box;
}

.bookentry-container-parent {
	width: 60%;
	margin: 0 auto;
}

.bookentry-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bookentry-container .bookentryinfo {
	display: flex;
	background: rgba(25, 118, 210, 0.8);
	flex-direction: column;
	padding: 20px 15px;
}

.bookentry-container .bookentryinfo .bookentrytext
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.5;
}

.bookentry-container .bookentryinfo .buttons-container {
	display: flex;
	flex-direction: row;
	align-self: center;
	margin-top: auto;
	padding-bottom: 12px;
	width: 100%;
}

.bookentry-container .buttons-container .icon-button {
	width: 100%;
	padding: 0px 10px;
}


.bookentry-container .bookentryinfo h1, h2, h3{
	color: white;
	font-family: "Raleway";
	margin: 0;
}

.bookentry-container .bookentryinfo h1 {
	font-size: 2em;
	padding-left: 12px;
	padding-right: 12px;
}

.bookentry-container .bookentryinfo h2 {
	font-size: 1.5em;
	padding-left: 12px;
}

.bookentry-container .bookentryinfo h3 {
	font-size: 1em;
	padding-left: 12px;
}

.bookentry-container .bookentryinfo p {
	color: white;
	font-family: "Raleway";
	padding-left: 12px; 
}

.bookentrybar-container-parent {
	width: 60%;
	margin: 0 auto;
}

.bookentrybar-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: rgba(25, 118, 210, 1);
}

.bookentrybar-container {
	font-size: 0.7em;
	font-family: "Raleway";
	color: white;
}

.bookentrybar-container div {
	padding-left: 10px;
	padding-right: 10px;
}

.bookentry-container-parent {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

@media (max-width: 1250px) {
	.bookentry-container {
		flex-direction: column;
		align-items: center;
	}

	.bookentry-container-parent .bookentry-container .imagediv {
		background: rgba(25, 118, 210, 0.8);
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.bookentry-container-parent .bookentry-container img {
		width: 300px;
	}
}

@media (max-width: 850px) {
	.bookentrybar-container-parent .bookentrybar-container {
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.bookentry-container-parent .bookentry-container .buttons-container {
		flex-direction: column;
	}
}

@media (max-width: 400px) {
	.bookentry-container-parent {
		width: 350px;
	}

	.bookentrybar-container-parent {
		width: 350px;
	}
}

.bookentry-container-parent .bookentry-container img {
		height: 100%;
	}
