



/* ======================== STATS =============================== */

.main-box {
    max-width: 1600px;
    margin: 0 auto;
}

.main-page {
    background-image: url("../Images/reading-925589_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    padding-bottom: 40px; 
}

.main-page-header {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.statistics-container {
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    grid-row-gap: 50px;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}
.statistics-container .stat-item {
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.625em;
}
.statistics-container .stat-item span {
    display: block;
}
.statistics-container .stat-item .stat-name {
    margin-top: 30px;
    color: #FFFFFF;
}

.statistics-container .stat-item .stat-item-data {
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.statistics-container .stat-item .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(25,118,210, 0.2);
    border: 2px solid #1976D2; 
}

.statistics-container .stat-item .number {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;

    font-size: 2em;
    font-weight: 400;
    color: #FFFFFF;
    border: 8px solid transparent; 
}

.statistics-container .stat-item .number .number-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

@media (max-width: 1024px) {
    .statistics-container .stat-item .stat-item-data {
        width: 130px;
        height: 130px;
    }
    .statistics-container .stat-item .number-text {
        font-size: 35px;
    }
}

@media (max-width: 768px) { 
    .main-page {
        background-image: unset;
    }
    .statistics-container {
        margin-top: 30px;
        align-self: center;
        grid-template-columns: 40% 40%;
        grid-template-rows: 200px 200px 200px;
        grid-row-gap: 60px;
    }

    .statistics-container .stat-item .stat-item-data {
        width: 120px;
        height: 120px;
    }
    .statistics-container .stat-item .number-text {
        font-size: 30px;
        color: #212121;
    }
    .statistics-container .stat-item .loader {
        background-color: transparent;
        border: 5px solid #1976D2;
    }
    .statistics-container .stat-item .stat-name {
        color: #212121;
    }

}

@media (max-width: 570px) {
    .statistics-container {
        grid-template-columns: 100%;
        grid-row-gap: 60px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
    }
    .statistics-container .stat-item .stat-item-data {
        width: 130px;
        height: 130px;
    }
}


/* ======================== ./STATS ============================= */

/* ======================== SEARCH ============================== */
.personalized-search {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.personalized-search .search-bar {
    margin-top: 50px;
}
.personalized-search .search-bar-wrapper {
    display: flex;
    -webkit-box-shadow: 0px 11px 84px -12px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 11px 84px -12px rgba(0,0,0,0.61);
    box-shadow: 0px 11px 84px -12px rgba(0,0,0,0.61);
}

.personalized-search .search-bar-wrapper #search-bar-input {
    width: 100%;
    height: 34px;
    padding: 0px 20px 0px 20px;
    border: 1px solid #CDCDCD;
    border-right: none;
}

.personalized-search .search-bar-wrapper #search-bar-input:hover {
    border: 1px solid #1976D2;
}

.personalized-search .search-bar-wrapper #search-bar-submit,
.personalized-search .search-bar-wrapper #search-bar-more
 {
    width: 60px;
    display: block;
    background-color: #1976D2;
    color: #FFFFFF;
    border: unset;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 7px 0px 7px;
    border: none;
}
.personalized-search .search-bar-wrapper #search-bar-submit:hover,
.personalized-search .search-bar-wrapper #search-bar-more:hover {
    border: 2px solid #1976D2;
    background-color: transparent;
    color: #1976D2;    
}

.personalized-search .search-bar-wrapper #search-bar-submit:hover {
    border-right: unset;
}

.personalized-search .search-bar-wrapper #search-bar-more:hover {
    border-left: none;
}

.personalized-search .advanced-search-wrapper {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.personalized-search .advanced-search-wrapper {
    margin-top: 30px;
}

.personalized-search .advanced-search-wrapper .input-box {
    position: relative;
    display: flex;
    height: 34px;
}

.personalized-search .advanced-search-wrapper .box-description {
    position: absolute;
    width: 100px;
    height: 100%;
    padding: 0px 7px 0px 7px;
    text-align: center;
    background-color: #1976D2;
    color: #FFFFFF;    
}

.personalized-search .advanced-search-wrapper .box-description-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
} 

.personalized-search .advanced-search-wrapper .input-box input {
    width: 100%;
    padding: 5px 10px 5px 110px;
    border: 1px solid #CDCDCD;
}
/* ======================== ./SEARCH ============================ */